.today{
	color:red;
}

.ミーティング{
	background-color: yellow;
}

.遅刻{
	background-color: skyblue;
}

.欠席{
	background-color: lightgreen;
}

.輪講{
	background-color: violet;
}

.その他{
	background-color: orange;
}

#draggable-columns{
	overflow: hidden;
}

div.draggable-column{
	float: left;
	width: 50%;
}
/* clearfix */
#draggable-columns:before,
#draggable-columns:after {
    content: "";
    display: table;
}

#draggable-columns:after {
    clear: both;
}


.alt-table-responsive {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
}
