// Place all the styles related to the chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  margin:3px;
}

div.tabbox { margin: 0px; padding: 0px; width: 100%; }

/* ▼(B)タブ部分 */
p.tabs { margin: 0px; padding: 0px; }
p.tabs a {
   /* ▼(B-2)リンクをタブのように見せる */
   display: block; width: 5em; float: left;
   margin: 0px 1px 0px 0px; padding: 3px;
   text-align: center;
   border-radius: 12px 12px 0px 0px; /* 角を丸くする */
}
/* ▼(B-3)各タブの配色 */
p.tabs a.tab1 { background-color: blue;  color: white; }
p.tabs a.tab2 { background-color: #aaaa00; color:white;}
p.tabs a.tab3 { background-color: #009900; color:white;}
p.tabs a.tab4 { background-color: #ffc0cb; color:white;}
p.tabs a.tab5 { background-color: #000000; color:white;}
p.tabs a:hover { color: yellow; }

/* ▼(C)タブ中身のボックス */
div.tab {
   /* ▼(C-2)ボックス共通の装飾 */
   height: 100%; overflow: auto; clear: left;
}
/* ▼(C-3)各ボックスの配色 */
div#tab1 { border: 2px solid blue; background-color: #ccffff; }
div#tab2 { border: 2px solid #aaaa00; background-color: #ffffcc; }
div#tab3 { border: 2px solid #009900; background-color: #90ee90; }
div#tab4 { border: 2px solid #ffc0cb; background-color: #fff0f5; }
div#tab5 { border: 2px solid #000000; background-color: #f8f8ff; }
div.tab p { margin: 0.5em; }

.all {
  border:double 2px;
  border-style:outset;
  border-color:#000000;
  background-color:rgba(255,93,71,0.5);
  margin:2px;
}

.mysend {
  border:double 2px;
  border-style:outset;
  border-color:#000000;
  background-color: #fffacd;
  margin:2px;
}

.grid {
  border:double 2px;
  background-color: #ffd700;
  margin:2px;
}

.web {
  border:double 2px;
  background-color: #87ceeb;
  margin:2px;
}

.net {
  border:double 2px;
  background-color: #00ff7f;
  margin:2px;
}

.榎原先生{
  border:double 2px;
  background-color: #ffd700;
  margin:2px;
}


.dest{
  color:#0000ff;
  font-style:oblique;
  font-size:16px;
  margin:2px;
}


.tome {
  border:double 2px;
  background-color: #ffffff;
  margin:2px;
}

.removelist{
  border:double 2px;
  border-style:outset;
  border-color:#000000;
  background-color: #fffacd;
  margin:2px;
}

.foundMessages{
  border:double 2px;
  background-color: #ffffff;
  margin:2px;
}

.search_option{
  line-height:1.5;
  background:#ffffff;
  border:outset;
}
